html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=iso-8859-1')
    meta(charset='utf-8')
    link(rel='stylesheet', href='style3.css')
    title minitwr
  body
    .contener
      .entete
        #entete1
          nav
            ul
              li
                a(href='acceuil.html', title='Acceuil')  Accueil
              li
                a(href='notification.html', title='Notifixation')  Notification
              li
                a(href='message.html', title='Message')  Message
        #entete2
          img.bouton(src='boutons/africa.png', width='50', height='50')
        #entete3
          p
            a(href='tsb.html')
              img.bouton(src='boutons/who.png', width='45', height='45')
            a(href='tsb.html')
              img.bouton(src='boutons/tweeet.png', width='200', height='50')
      #article
        #section1
          .nav1
            .titrenav1
              #profil
                img.bouton(src='boutons/profil.png', width='270', height='150')
              #information
                h3 Personne Inconnue
                p @quisuije
                table
                  tr
                    th TWEETS
                    th ABANNOMENTS
                    th ABONNES
                  tr
                    th 36000
                    th 24000
                    th 24000
          hr(width='273')
          .nav2
            .titrenav2
              h3 Tendances
              p
                a(href='#tips') #ChampionsLeague
              p
                a(href='#tips') #Ebola
              p
                a(href='#tips') #Playoff
              p
                a(href='#tips') #ProgWeb
              p
                a(href='#tips') #FF7
              p
                a(href='#tips') #Avengers2
              p
                a(href='#tips') #ForPaul
        #section2
          .nav3
            .titrenav1
              | Suggestions
          hr(width='272')
          .nav4
            .titrenav2
              | Concepteurs 
              br
              br
              .blink Pour nous contacter
              a(href='mailto:smampionona@gmail.com') smampionona@gmail.com
              br
              a(href='mailto:papalabe@yahoo.fr') papalabe@yahoo.fr
              br
              br
              | 			......................................................................
              br
              | 			                             All rights Reserved to TSB and Bidy
              | 										 Université de Strasbourg/ UFR Maths-infos
        #articleintern2
          table
            tr
              th
                img.bouton(src='boutons/who.png', width='25', height='25')
              th
                input(type='text', name='nom', rows='5', size='55', maxlength='140', value='Quoi de neuf?')
              th
                img.bouton(src='boutons/photo.png', width='25', height='25')
          a(href='http://www.lefigaro.fr/automobile/2015/05/11/30002-20150511ARTFIG00133-paris-la-video-verbalisation-s-etend-a-34-nouveaux-axes.php')
            img(src='figaro.png', width='483', height='70')
          br
          br
          a(href='https://twitter.com/')
            img(src='gims.png', width='483', height='300')
          br
