html(xmlns='http://www.w3.org/1999/xhtml')
head
    meta(http-equiv='Content-Type', content='text/html; charset=iso-8859-1')
    meta(charset='utf-8')
    link(rel='stylesheet', href='style1.css')
    title minitwr
  body
    .contener
      .entete
        #entete1
          nav
            ul
              li
                a(href='tsb.html', title='Acceuil')  Accueil
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='tsb.html', title='Notifixation')  Notification
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='tsb.html', title='Message')  Message
        | &#x9;&#x9;&#x9;
        #entete2
          img.bouton(src='boutons/africa.png', width='50', height='50')
        | &#x9;&#x9;&#x9;
        #entete3
          p
            a(href='tsb.html')
              img.bouton(src='boutons/who.png', width='45', height='45')
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            a(href='tweet.html')
              img.bouton(src='boutons/tweeet.png', width='200', height='50')
      |            
      | &#x9;&#x9;
      #article
        #section1
          .nav1
            .titrenav1
              #profil
                img.bouton(src='boutons/profil.png', width='270', height='150')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              #information
                h3 Personne Inconnue
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p @quisuije
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                table
                  tr
                    th TWEETS
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    th ABANNOMENTS
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    th ABONNES
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  tr
                    th 36000
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    th 24000
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    th 24000
          |  
          | &#x9;&#x9;            
          hr(width='273')
          |             
          .nav2
            .titrenav2
              h3 Tendances
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                a(href='#tips') #ChampionsLeague
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                a(href='#tips') #Ebola
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                a(href='#tips') #Playoff
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                a(href='#tips') #ProgWeb
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                a(href='#tips') #FF7
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                a(href='#tips') #Avengers2
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p
                a(href='#tips') #ForPaul
        |   
        | &#x9;&#x9;
        |      
        | &#x9;   
        #section2
          .nav3
            .titrenav1
              | Suggestions
          |  
          | &#x9;&#x9;            
          hr(width='272')
          |             
          .nav4
            .titrenav2
              | Concepteurs 
              br
              | &#x9;&#x9;&#x9;&#x9;  
              br
              | &#x9;&#x9;&#x9;&#x9;  
              | &#x9;&#x9;&#x9;&#x9; 
              .blink Pour nous contacter
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;   
              a(href='mailto:smampionona@gmail.com') smampionona@gmail.com
              br
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;    
              a(href='mailto:papalabe@yahoo.fr') papalabe@yahoo.fr
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              br
              br
              | &#x9;&#x9;&#x9;......................................................................
              br
              | &#x9;&#x9;&#x9;                             All rights Reserved to TSB and Bidy
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; Universit&eacute; de Strasbourg/ UFR Maths-infos
        |   
        |          
        #articleintern2
          table
            tr
              th
                img.bouton(src='boutons/who.png', width='25', height='25')
              | &#x9;&#x9;&#x9;
              th
                input(type='text', name='nom', rows='5', size='55', maxlength='140', value=' Quoi de neuf ?')
              | &#x9;&#x9;&#x9;
              th
                img.bouton(src='boutons/photo.png', width='25', height='25')
          | &#x9;
          | &#x9;
          | &#x9; 
          a(href='http://www.lequipe.fr/Football/Actualites/Perte-de-points-pour-almeria/560020#xtor=CS1-12')
            img(src='Equ.png', width='483', height='300')
          br
          | &#x9;          
          | &#x9;
          a(href='https://twitter.com/hashtag/France2?src=hash')
            img(src='fr2.png', width='483', height='300')
          br
          | &#x9; 
          | &#x9;   
          a(href='https://twitter.com/hashtag/LesAnges7?src=hash')
            img(src='mag.png', width='483', height='300')
          br
          | &#x9; 
          | &#x9;
          | &#x9;
          |  
          a(href='http://www.lefigaro.fr/automobile/2015/05/11/30002-20150511ARTFIG00133-paris-la-video-verbalisation-s-etend-a-34-nouveaux-axes.php')
            img(src='figaro.png', width='483', height='70')
          br
          br
          |   
          a(href='https://twitter.com/')
            img(src='gims.png', width='483', height='300')
          br
